# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=bbd0383f-c1a8-404b-bea6-c4cf413f4a9d

    # Set to true to disable all reporting
    B:opt-out=false
}


